.item {
  border: 1px solid black;
  padding: 1px;
  margin: auto;
}

.item:hover{
  color: #ff7a59;
  border: #ff7a59 solid 1px;
  background:#fff;
}

.name {
  margin: auto;
  margin-bottom: 3px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;

}

.type {
  margin-top:0px;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
}


.logo {
  width: 30%;
  height: auto;
}
